<h1>{{data.function === 'edit' ? 'Edit Playlist' : 'Create New Playlist'}}</h1>
<div>
  <form [formGroup]="formPlayList">
    <div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Playlist name" formControlName="name">
        </mat-form-field>
      </div>
    </div>
    <div>
      <div>
        <mat-form-field>
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </div>


    <ng-container formArrayName="songs">
      <div class="row" *ngFor="let song of songs.controls; let i=index" [formGroupName]="i">
        <div>
          <mat-form-field>
            <input matInput placeholder="Song title" formControlName="title">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Artist" formControlName="artist">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input type="number" matInput placeholder="Duration" formControlName="duration">
            <span>minutes</span>
          </mat-form-field>
        </div>
        <div>
          <button mat-button color="primary" *ngIf="i === songs.controls.length" (click)="addSong()">
            <mat-icon>playlist_add_check</mat-icon>
          </button>
          <button mat-button color="warn" *ngIf="songs.controls.length > 0" (click)="removeSong(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>


  </form>
</div>
<div class="btn">
  <button mat-button color="warn" (click)="onCancel()">CANCEL</button>
  <button mat-button color="primary" (click)="onSubmit()" >SUBMIT</button>
</div>
